<a href="https://colab.research.google.com/github/ezenavarro1/ds.coder/blob/main/TESTING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn as skn

!pip install sidetable
import sidetable as stb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sidetable
  Downloading sidetable-0.9.1-py3-none-any.whl (19 kB)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.9/dist-packages (from sidetable) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0->sidetable) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0->sidetable) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->sidetable) (1.15.0)
Installing collected packages: sidetable
Successfully installed sidetable-0.9.1

In [88]:
df

,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [89]:
df = pd.read_csv("train.csv");

df = df.drop("Row ID",1);
df = df.drop("Order ID",1);

#Descarto columnas que no me gustan

<ipython-input-89-c71fa7e22a16>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop("Row ID",1);
<ipython-input-89-c71fa7e22a16>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop("Order ID",1);

In [90]:
list(df)

['Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales']

In [91]:
standard = df[[
 'Ship Mode',
 'Category',
 'Sales']]

In [92]:
target = np.where((((((df['Ship Mode']=='Standard Class') & (df['Category'] == 'Office Supplies') & (df["Sales"] > 200)) | 
                  (df['Ship Mode']=='Standard Class') & (df['Category'] == 'Technology') & (df["Sales"] > 700)) |
                  (df['Ship Mode']=='Standard Class') & (df['Category'] == 'Furniture') & (df["Sales"] > 700))),1,0)

In [93]:
standard["target"] = pd.DataFrame(target)

<ipython-input-93-37cb5c077107>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  standard["target"] = pd.DataFrame(target)

In [94]:
standard.target.value_counts(normalize = True)

0    0.922449
1    0.077551
Name: target, dtype: float64

In [95]:
standard

           Ship Mode         Category     Sales  target
0       Second Class        Furniture  261.9600       0
1       Second Class        Furniture  731.9400       0
2       Second Class  Office Supplies   14.6200       0
3     Standard Class        Furniture  957.5775       1
4     Standard Class  Office Supplies   22.3680       0
...              ...              ...       ...     ...
9795  Standard Class  Office Supplies    3.7980       0
9796  Standard Class  Office Supplies   10.3680       0
9797  Standard Class       Technology  235.1880       0
9798  Standard Class       Technology   26.3760       0
9799  Standard Class       Technology   10.3840       0

[9800 rows x 4 columns]

In [96]:
#lista_target = []
#lista_category = ["Sales"]

In [97]:
#for i in lista_sales:
#    if i > 400:
#      y = 1
#      lista_target.append(y)
#    else:
#      y = 0
#      lista_target.append(0)

In [98]:
#encoding["target"] = pd.DataFrame(lista_target)

In [99]:
#encoding.target.value_counts(normalize = True)

In [100]:
cat_columns = standard.select_dtypes(include = "object").columns

In [101]:
X = standard.drop("target", axis = 1)
y = standard["target"]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 42, stratify = y)

print(X_train.shape, y_train.shape)

(6860, 3) (6860,)

In [102]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Ship Mode  9800 non-null   object
 1   Category   9800 non-null   object
 2   Sales      9800 non-null   float64
dtypes: float64(1), object(2)
memory usage: 229.8+ KB

In [103]:
from sklearn.preprocessing import OrdinalEncoder

le = OrdinalEncoder(handle_unknown = "use_encoded_value", unknown_value = -1)

le.fit(X_train[cat_columns])
X_train[cat_columns] = le.transform(X_train[cat_columns])

In [104]:
X_train

      Ship Mode  Category    Sales
4132        3.0       1.0   15.552
1846        2.0       0.0   37.680
2514        3.0       0.0   47.992
135         3.0       1.0   11.520
1565        3.0       2.0  453.576
...         ...       ...      ...
7767        0.0       1.0    7.152
5154        0.0       1.0   28.400
1760        3.0       0.0  411.332
9527        0.0       1.0  172.752
9003        1.0       2.0  239.940

[6860 rows x 3 columns]

In [105]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6860 entries, 4132 to 9003
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Ship Mode  6860 non-null   float64
 1   Category   6860 non-null   float64
 2   Sales      6860 non-null   float64
dtypes: float64(3)
memory usage: 214.4 KB

In [106]:
from sklearn.svm import SVC 
classifier = SVC(kernel = "linear")
classifier.fit(X_train, y_train)

SVC(kernel='linear')

In [77]:
X_test[cat_columns] =le.transform(X_test[cat_columns])

In [78]:
pred = classifier.predict(X_test)

testing = pd.DataFrame ({"y_true":y_test, 'pred':pred})

In [83]:
testing.value_counts()

y_true  pred
0       0       2702
1       1        132
        0         96
0       1         10
dtype: int64

In [86]:
y_test.value_counts()

0    2712
1     228
Name: target, dtype: int64

In [80]:
from sklearn.metrics import classification_report, f1_score
print(classification_report(testing['y_true'], testing['pred']))

              precision    recall  f1-score   support

           0       0.97      1.00      0.98      2712
           1       0.93      0.58      0.71       228

    accuracy                           0.96      2940
   macro avg       0.95      0.79      0.85      2940
weighted avg       0.96      0.96      0.96      2940

probar predecir ventas mes-año

probar predecir % de ventas de cierta categoria por mes- año