In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn as skn

!pip install sidetable
import sidetable as stb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sidetable
  Downloading sidetable-0.9.1-py3-none-any.whl (19 kB)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.9/dist-packages (from sidetable) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0->sidetable) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0->sidetable) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->sidetable) (1.15.0)
Installing collected packages: sidetable
Successfully installed sidetable-0.9.1

In [2]:
df = pd.read_csv("train.csv");

df = df.drop("Row ID",1);
df = df.drop("Order ID",1);

#Descarto columnas que no me gustan

<ipython-input-2-c71fa7e22a16>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop("Row ID",1);
<ipython-input-2-c71fa7e22a16>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop("Order ID",1);

In [3]:
encoding = df[["Category","Ship Mode",
'Segment',
'Sales']]

In [ ]:
encoding

In [5]:
lista_target = []
lista_sales = encoding["Sales"]

In [6]:
for i in lista_sales:
    if i > 300:
      y = 1
      lista_target.append(y)
    else:
      y = 0
      lista_target.append(0)

In [7]:
encoding["target"] = pd.DataFrame(lista_target)

<ipython-input-7-6ff387e7d4dc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoding["target"] = pd.DataFrame(lista_target)

In [8]:
encoding.target.value_counts(normalize = True)

0    0.808265
1    0.191735
Name: target, dtype: float64

In [9]:
cat_columns = encoding.select_dtypes(include = "object").columns

In [10]:
X = encoding.drop("target", axis = 1)
y = encoding["target"]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 42)

print(X_train.shape, y_train.shape)

(6860, 4) (6860,)

In [11]:
from sklearn.preprocessing import OrdinalEncoder

le = OrdinalEncoder(handle_unknown = "use_encoded_value", unknown_value = -1)

le.fit(X_train[cat_columns])
X_train[cat_columns] = le.transform(X_train[cat_columns])

In [ ]:
X_train

In [12]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6860 entries, 9465 to 7270
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Category   6860 non-null   float64
 1   Ship Mode  6860 non-null   float64
 2   Segment    6860 non-null   float64
 3   Sales      6860 non-null   float64
dtypes: float64(4)
memory usage: 268.0 KB

In [13]:
from sklearn.svm import SVC 
classifier = SVC(kernel = "linear")

In [14]:
X_test[cat_columns] =le.transform(X_test[cat_columns])

In [ ]:
pred = classifier.predict(X_test)

testing = pd.DataFrame ({"y_true":y_test, 'pred':pred})

In [16]:
testing.value_counts()

NameError: ignored

In [17]:
from sklearn.metrics import classification_report, f1_score
print(classification_report(testing['y_true'], testing['pred']))

NameError: ignored